.background {
  background-size: 90%;
  background-position: -350% 30%;
}

body {
  background: radial-gradient(circle, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%, rgba(1,0,5,1) 100%);
}

.Header{
  background-color:#271c29;
}

.done{
  color:rgb(50 253 85);
}

.fail{
  color:rgb(187 0 0);
}

.day-headings{
  color: #aa7ee1;
}

.text-light {
  font-family: monospace, 'Montserrat', sans-serif;
  font-size: larger;
}